*
!*/
!.gitignore
!*.tcl
!README.md

cpp
!cpp/
!cpp/**/*.c
!cpp/**/*.cpp
!cpp/**/*.h
!cpp/**/*.hpp

matlab
!matlab/
!matlab/**/*.m

quartus
!quartus/
!quartus/**/*.qpf
!quartus/**/*.qsf
!quartus/**/*.sdc
!quartus/**/*.tcl
!quartus/**/*.qsys
!quartus/**/*.sopcinfo
!quartus/**/*.sv
!quartus/**/*.v
!quartus/**/*.vh
!quartus/**/*.vhd

rtl
!rtl/
!rtl/**/*.sv
!rtl/**/*.v
!rtl/**/*.vh
!rtl/**/*.vhd

sim
!sim/
!sim/*.do
!sim/*.sv
!sim/*.v
!sim/*.vhd